html {
  line-height: 1.5;
}

body {
  font-family: 'Georgia'
  margin: .3em;
}

h1 {
  background-color: #ffe500;
  font-family: 'Sigmar One', bold;
  font-size:1.875rem;
}

header {
  font-family: 'Sigmar One', bold;
  font-size:1.125rem
}

footer {
  background-color: #ffe500;
  font-size:.75rem
}
